.header {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 399px;
  margin-top: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  width: 34px;
  height: 34px;
}

.logo-text {
  color: #292f36;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.menubar {
  display: flex;
  justify-content: flex-end;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  color: #292f36;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 25px */
}
