* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Serif Display', serif;
  font-family: 'Jost', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 53px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &__text {
    color: #292f36;
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 50px */
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 243px;
  color: #292f36;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 25px */
}

.banner {
  margin-top: 57px;

  &-box {
    position: relative;
  }

  &__image {
    border-radius: 70px;
  }

  &__text {
    position: absolute;
    max-width: 434px;
    top: 208px;
    left: 52px;
  }

  &__heading {
    margin-bottom: 18px;
    color: #292f36;
    font-family: DM Serif Display;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }

  &__paragraph {
    margin-bottom: 21px;
    color: #4d5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.22px;
  }

  &__button {
    display: flex;
    padding: 23px 47px 24px 48px;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    border: none;
    border-radius: 18px;
    background: #292f36;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    transition: 0.3s;

    &:hover {
      background: #cda274;
    }

    &:hover .banner__button-svg path {
      stroke: #292f36;
    }
  }

  &__button-link {
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.25px;
  }
}

.project {
  margin-top: 96px;

  &__title {
    color: #292f36;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 62.5px */
    letter-spacing: 1px;
  }

  &__text {
    margin-top: 8px;
    margin-bottom: 93px;
    width: 737px;
    margin-left: auto;
    margin-right: auto;
    color: #4d5053;
    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 33px */
    letter-spacing: 0.22px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 104px;
    row-gap: 56px;
    margin-bottom: 96px;
  }

  &__item {
    display: grid;
    gap: 24px;

    &_content {
      display: flex;
      gap: 260px;

      &-title {
        color: #292f36;
        font-family: DM Serif Display;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 31.25px */
        letter-spacing: 0.5px;
      }

      &-subtitle {
        width: 217px;
        height: 27px;
        color: #4d5053;
        font-family: Jost;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 33px */
        letter-spacing: 0.22px;
      }
    }
  }
}

.border-top-right {
  border-radius: 0 90px 0 0;
}

.border-top-left {
  border-radius: 90px 0 0 0;
}

.border-bottom-right {
  border-radius: 0 0 90px 0;
}

.border-bottom-left {
  border-radius: 0 0 0 90px;
}

.counter {
  margin-bottom: 96px;
  background-color: #f4f0ec;

  &__content {
    display: flex;
    flex-direction: row;
    padding-top: 161px;
    padding-bottom: 151px;
    justify-content: center;
    align-items: center;

    &_item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;

      &-number {
        margin-top: -10px;
        text-align: center;
        color: #cda274;
        font-family: DM Serif Display;
        font-size: 85px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.7px;
      }

      &-text {
        color: #4d5053;
        font-family: Jost;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.22px;
      }
    }

    &_line {
      border-left: 1px solid #cda274;
      height: 130px;
      margin-right: 76px;
      margin-left: 54px;

      &-middle {
        margin-left: 76px;
      }

      &-right {
        margin-left: 84px;
      }
    }
  }
}

.blog {
  margin-bottom: 96px;

  &__title {
    margin-bottom: 10px;
    color: #292f36;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1px;
  }

  &__text {
    margin-bottom: 52px;
    width: 811px;
    margin-left: auto;
    margin-right: auto;
    color: #4d5053;
    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.22px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    padding: 20px;
    border-radius: 62px;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    transition: 0.3s;

    &_img {
      margin-bottom: 21px;
    }

    &_tag {
      position: absolute;
      width: 124px;
      top: 247px;
      left: 40px;
      color: #4d5053;
      font-family: Jost;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.16px;
      background-color: #fff;
      border-radius: 8px 8px 8px 0px;
      padding: 7px 9px 10px 11px;
      transition: 0.3s;
    }

    &_text {
      display: flex;
      width: 320px;
      height: 120px;
      flex-direction: column;
      justify-content: center;

      color: #292f36;
      font-family: DM Serif Display;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      /* 31.25px */
      letter-spacing: 0.5px;
      margin-bottom: 30px;
    }

    &_content {
      display: flex;
      width: 340px;
      align-items: center;
      gap: 65px;

      &-date {
        display: flex;
        width: 223px;
        height: 33px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;

        color: #4d5053;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
        letter-spacing: 0.16px;
        text-transform: capitalize;
      }

      // &-elem {
      //     width: 52px;
      //     height: 52px;
      //     flex-shrink: 0;
      // }
    }

    &:hover {
      background: #f4f0ec;
    }

    &:hover circle {
      fill: #fff;
    }
  }
}

.border-top {
  border-radius: 43px 43px 0 0;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 101px;
  margin-bottom: 134px;

  &__main {
    &_text {
      width: 393px;

      color: #4d5053;
      font-family: Jost;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      /* 33px */
      letter-spacing: 0.22px;
      margin-top: 18px;
      margin-bottom: 31px;
    }

    &_links {
      display: flex;
      width: 225px;
      align-items: center;
      gap: 54px;
    }
  }

  &__pages {
    display: flex;
    width: 125px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;

    &_title {
      margin-bottom: 9px;
      color: #292f36;
      font-family: DM Serif Display;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
    }

    &_subtitle {
      color: #4d5053;
      font-family: Jost;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 300%;
      /* 66px */
      letter-spacing: 0.22px;
    }
  }

  &__empty {
    width: 120px;
    height: 66px;
  }

  &__contact {
    display: flex;
    width: 258px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    flex-shrink: 0;

    &_title {
      color: #292f36;
      font-family: DM Serif Display;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      /* 31.25px */
    }

    &_address,
    &_phone {
      color: #4d5053;
      font-family: Jost;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      /* 33px */
      letter-spacing: 0.22px;
    }

    &_mail {
      color: #4d5053;
      font-family: Jost;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 300%;
      letter-spacing: 0.22px;
    }
  }
}

// blog.html
.intro {
  margin-top: 45px;
  background-image: url('../images/photoBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 78px;
    width: 503px;
    margin-top: 179px;
    border-radius: 37px 37px 0px 0px;
    background-color: #fff;
  }

  &__heading {
    color: #292f36;
    font-family: DM Serif Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }

  &__subhead-box {
    display: inline-flex;
    flex-direction: row;

    &-item {
      color: #4d5053;
      font-family: Jost;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.22px;
      text-align: center;

      &:first-child::after {
        content: '/\00a0';
        padding-left: 5px;
      }
    }
  }
}

.blog-post {
  padding-top: 202px;
  padding-bottom: 149px;
  display: flex;
  flex-direction: column;
  gap: 27px;

  &__title {
    color: #292f36;
    font-family: DM Serif Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1px;
  }

  &__latest-post {
    padding: 22px;
    border-radius: 62px;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    transition: 0.3s;

    &:hover {
      background: #f4f0ec;
    }

    &:hover circle {
      fill: white;
    }

    &-subbox {
      display: flex;
      flex-direction: row;
      gap: 64px;
    }

    &-image {
      border-radius: 48px;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 16px;
    }

    &-head {
      max-width: 463px;
      margin-bottom: 22px;
      color: #292f36;
      font-family: DM Serif Display;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.5px;
    }

    &-prgth {
      max-width: 482px;
      color: #4d5053;
      font-family: Jost;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.22px;

      &_1 {
        margin-bottom: 34px;
      }

      &_2 {
        margin-bottom: 42px;
      }
    }
  }

  &__data-arrow-box {
    display: flex;
    width: 489px;
    align-items: center;
    gap: 214px;
  }
}

.blog {
  margin-top: 0px;

  &__date {
    display: flex;
    width: 223px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    color: #4d5053;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
  }

  &__header {
    margin-bottom: 30px;
    margin-left: 412px;
    color: #292f36;
    font-family: DM Serif Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 62.5px */
    letter-spacing: 1px;
  }
}

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 50px;
  margin-left: 500px;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 16px;
  text-decoration: none;
  padding: 5px 12px;
  color: black;
  margin-left: -1px;
  border: 1px solid #cda274;
  line-height: 1.5;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}

.modal-4 a {
  margin: 0 5px;
  padding: 10px;
  width: 52px;
  height: 52px;
  line-height: 30px;
  border-radius: 100%;
  background-color: white;
}
.modal-4 a.prev {
  border-radius: 50px 0 0 50px;
  width: 100px;
}
.modal-4 a.next {
  border-radius: 0 50px 50px 0;
  width: 100px;
}
.modal-4 a:hover {
  background-color: rgb(241, 238, 238);
}
.modal-4 a.active,
.modal-4 a:active {
  background-color: rgb(241, 238, 238);
}
